body {
  font-family: 'Times New Roman', serif;
  background-color: rgb(90, 127, 140);
  font-size: 16px;
  min-height: 100vh;
  padding: 18px;
  margin: 2px;
  color: rgb(62, 8, 8);
}
.scroll-box{width: 70%; Max-width: 700px; height: 500px; margin: 40px auto; padding: 20px; overflow-y: auto; overflow-x: hidden; border: 2px solid rgba(255, 155, 155, 0); background-color: #fbdb99; box-sizing: border-box;}